@tailwind base;
@tailwind components;
@tailwind utilities;

.post-modal::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.post-modal::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.post-modal::-webkit-scrollbar-thumb {
    background: #D8D9DD;
    border-radius: 5px;
}

/* Handle on hover */
.post-modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}